//logo
.logo {
  margin: 20px 0;
  padding: 0 10px;
  img {
    display: block;
    width: 100%;
    height: 196px;
  }
}

//title
.title {
  padding: 0 10px;
  .con {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-color: rgb(131, 180, 209);
    color: rgb(131, 180, 209);
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0px;
    padding: 0px 0px 5px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    p {
      font-size: 18px;
    }
  }
}
//title-text
.title-text{
  padding: 0 10px;
  margin-bottom: 15px;
  .con{
    width: 100%;
    text-align: left;
    line-height: 1.5em;
    font-size: 15px;
  }
}