//Skies
.Skies{
  margin-top: 60/18.75rem;
  dl{
    overflow: hidden;
    padding-bottom: 7/18.75rem;
    a{
      display: block;
      dt,dt.jbbg1{
        height: 128/18.75rem;
        padding: 0 12/18.75rem;
        color: #fff;
        position: relative;
        background: linear-gradient(to right, #53cfd0 0%,#43a1cb 100%);
        span{
          font-size: 12/18.75rem;
          display: inline-block;
          text-decoration: underline;
          padding-top: 20/18.75rem;overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        h2{
          padding: 10/18.75rem 0 3/18.75rem;    font-size: 20/18.75rem;
          font-weight: normal;overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        p{
          padding-bottom: 8/18.75rem;font-size: 13/18.75rem;
        }
        i{
          width: 52/18.75rem;
          height: 16/18.75rem;
          display: block;
          img{
            width: 100%;
            height: 100%;
          }
        }
        div{
          width: 45/18.75rem;
          height: 45/18.75rem;
          background: url("../images/t3.png") no-repeat center center/contain;
          position: absolute;
          right: 19/18.75rem;
          top: 44/18.75rem;
        }
      }
      dd{
        img{
          width: 100%;
          height: 375/18.75rem;
        }
      }
    }
  }
  .page{
    text-align: center;
  }
}