.ny_ban img {
  width: 100%;
}
.ntitA {
  color: #000;
  font-weight: 600;
  font-family: "兰亭粗黑_GBK";
  padding: 1.06666667rem 0.64rem 0.53333333rem;
  position: relative;
}
.ntitA h2 {
  line-height: 1.33333333rem;
  font-size: 0.85333333rem;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 0.10666667rem solid #000000;
  display: inline-block;
}
.ntitA p {
  line-height: 1.33333333rem;
  font-size: 0.85333333rem;
}
.baoA {
  line-height: 1.28rem;
  color: #000;
  padding: 0rem 0.64rem 0.8rem;
  font-family: "兰亭细黑_GBK";
}
.baoB {
  margin: 0.8rem 0.8rem;
  border-radius: 0.53333333rem;
  overflow: hidden;
  color: #1b1e21;
  -moz-box-shadow: 0rem 0rem 0.16rem #d4d3d3;
  -webkit-box-shadow: 0rem 0rem 0.16rem #d4d3d3;
  box-shadow: 0rem 0rem 0.16rem #d4d3d3;
}
.baoB form .baoB1 img {
  width: 100%;
}
.baoB form .baoB2 {
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 0.64rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB2 span {
  width: 0.96rem;
  height: 0.96rem;
  line-height: 1.06666667rem;
  font-size: 0.64rem;
  text-align: center;
  margin-right: 0.26666667rem;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .baoB3 {
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
  background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 100%);
}
.baoB form .baoB3 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
}
.baoB form .baoB3 dd {
  float: left;
  font-size: 0.64rem;
}
.baoB form .baoB4 {
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB4 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
}
.baoB form .baoB4 dd {
  margin-left: 32px;
  float: left;
  font-size: 0.64rem;
}
.baoB form .baoB4 dd .opt {
  display: inline-block;
  width: 2.88rem;
  height: 2.02666667rem;
}
.baoB form .baoB4 dd .opt label {
  padding-right: 1.06666667rem;
  position: relative;
  display: block;
  padding-left: 1.17333333rem;
  cursor: pointer;
  top: -2.08rem;
  vertical-align: middle;
}
.baoB form .baoB5 {
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB5 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
  line-height: 2.02666667rem;
}
.baoB form .baoB5 dd {
  padding-left: 1.6rem;
  float: left;
  font-size: 0.64rem;
}
.baoB form .baoB5 dd input {
  width: 5.33333333rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: none;
}
.baoB form .baoB5 dd span {
  color: #38b791;
  font-size: 0.64rem;
}
.baoB form .baoB6 {
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB6 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
}
.baoB form .baoB6 dd {
  float: left;
}
.baoB form .baoB6 dd input {
  width: 10.13333333rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: none;
}
.baoB form .baoB6 dd span {
  float: right;
  color: #38b791;
}
.baoB form .baoB7 {
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 0.64rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB7 span {
  width: 0.96rem;
  height: 0.96rem;
  line-height: 1.06666667rem;
  font-size: 0.64rem;
  text-align: center;
  margin-right: 0.26666667rem;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .baoB8 {
  font-size: 0.64rem;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB8 .opt {
  width: 50%;
  padding: 0;
  text-align: center;
  float: left;
}
.baoB form .baoB9 {
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 0.64rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB9 span {
  width: 0.96rem;
  height: 0.96rem;
  line-height: 1.06666667rem;
  font-size: 0.64rem;
  text-align: center;
  margin-right: 0.26666667rem;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .baoB10 {
  position: relative;
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB10 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
}
.baoB form .baoB10 dd {
  float: left;
  font-size: 0.64rem;
}
.baoB form .baoB10 dd input {
  width: 5.33333333rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: none;
}
.baoB form .baoB10 dd span {
  font-size: 0.42666667rem;
  color: #38b791;
  position: absolute;
  right: 0.42666667rem;
  top: 0rem;
}
.baoB form .baoB11 {
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB11 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
}
.baoB form .baoB11 dd {
  float: left;
  font-size: 0.64rem;
}
.baoB form .baoB11 dd input {
  width: 8rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: none;
}
.baoB form .baoB12 {
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB12 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
}
.baoB form .baoB12 dd {
  float: left;
  font-size: 0.64rem;
}
.baoB form .baoB13 {
  box-shadow: 0rem 0.16rem 0.16rem #eaeaea;
  overflow: hidden;
  clear: both;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .baoB13 dt {
  width: 3.73333333rem;
  padding: 0 0rem 0 0.64rem;
  font-size: 0.8rem;
  float: left;
}
.baoB form .baoB13 dd {
  float: left;
  font-size: 0.64rem;
}
.baoB form .baoB13 dd input {
  width: 8rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: none;
}
.baoB form .baoB14 {
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 0.64rem;
}
.baoB form .baoB14 span {
  width: 0.96rem;
  height: 0.96rem;
  line-height: 1.06666667rem;
  font-size: 0.64rem;
  text-align: center;
  margin-right: 0.26666667rem;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .bao_photo {
  padding-bottom: 0.53333333rem;
  overflow: hidden;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .bao_photo dl {
  width: 33.3%;
  text-align: center;
  padding: 0 0.64rem;
  float: left;
  box-sizing: border-box;
}
.baoB form .bao_photo dl dt {
  overflow: hidden;
}
.baoB form .bao_photo dl dt img {
  width: 100%;
  height: 6.93333333rem;
}
.baoB form .bao_photo dl dd {
  line-height: 1.6rem;
  font-size: 0.64rem;
  color: #38b791;
}
.baoB form .bao_tiaokuan {
  padding: 0.64rem;
  overflow: hidden;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .bao_tiaokuan h2 {
  font-size: 0.85333333rem;
  font-weight: normal;
  color: #5fb8c8;
  font-family: "兰亭粗黑_GBK";
  padding-bottom: 0.53333333rem;
}
.baoB form .bao_tiaokuan p {
  font-size: 0.64rem;
  line-height: 1.17333333rem;
  color: #7d888a;
  font-family: "兰亭黑简体";
}
.baoB form .bao_tongyi {
  font-size: 0.64rem;
  height: 2.02666667rem;
  line-height: 2.02666667rem;
  border-bottom: 0.05333333rem solid #ededed;
}
.baoB form .bao_tongyi dt {
  width: 50%;
  text-align: center;
  color: #000000;
  float: left;
  font-family: "兰亭细黑_GBK";
}
.baoB form .bao_tongyi dt .opt {
  width: 100%;
  padding: 0;
  text-align: center;
  float: left;
}
.baoB form #sub {
  width: 100%;
  height: 2.45333333rem;
  line-height: 2.45333333rem;
  font-size: 0.85333333rem;
  text-align: center;
  color: #fff;
  font-family: "兰亭粗黑_GBK";
  border: none;
  background: #38b791;
  -webkit-appearance: none;
}
/*# sourceMappingURL=AUDITION2.css.map */