.ny_ban img {
  width: 100%;
}
.ntitA {
  color: #000;
  font-weight: 600;
  font-family: "兰亭粗黑_GBK";
  padding: 20px 12px 10px;
  position: relative;
}
.ntitA h2 {
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  display: inline-block;
}
.ntitA p {
  line-height: 25px;
  font-size: 16px;
}
.baoA {
  line-height: 24px;
  color: #000;
  padding: 0px 12px 15px;
  font-family: "兰亭细黑_GBK";
}
.baoB {
  margin: 15px 15px;
  border-radius: 10px;
  overflow: hidden;
  color: #1b1e21;
  -moz-box-shadow: 0px 0px 3px #d4d3d3;
  -webkit-box-shadow: 0px 0px 3px #d4d3d3;
  box-shadow: 0px 0px 3px #d4d3d3;
}
.baoB form .baoB1 img {
  width: 100%;
}
.baoB form .baoB2 {
  height: 38px;
  line-height: 38px;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 12px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB2 span {
  width: 18px;
  height: 18px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .baoB3 {
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
  background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 100%);
}
.baoB form .baoB3 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
}
.baoB form .baoB3 dd {
  float: left;
  font-size: 12px;
}
.baoB form .baoB4 {
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB4 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
}
.baoB form .baoB4 dd {
  float: left;
  font-size: 12px;
}
.baoB form .baoB4 dd .opt {
  display: inline-block;
  width: 54px;
  height: 38px;
}
.baoB form .baoB4 dd .opt label {
  padding-right: 20px;
  position: relative;
  display: block;
  padding-left: 22px;
  cursor: pointer;
  top: -39px;
  vertical-align: middle;
}
.baoB form .baoB5 {
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB5 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
  line-height: 38px;
}
.baoB form .baoB5 dd {
  float: left;
  font-size: 12px;
}
.baoB form .baoB5 dd input {
  width: 34px;
  height: 30px;
  line-height: 30px;
  border: none;
}
.baoB form .baoB5 dd span {
  color: #38b791;
  font-size: 12px;
}
.baoB form .baoB6 {
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB6 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
}
.baoB form .baoB6 dd {
  float: left;
}
.baoB form .baoB6 dd input {
  width: 34px;
  height: 30px;
  line-height: 30px;
  border: none;
}
.baoB form .baoB6 dd span {
  color: #38b791;
}
.baoB form .baoB7 {
  height: 38px;
  line-height: 38px;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 12px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB7 span {
  width: 18px;
  height: 18px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .baoB8 {
  font-size: 12px;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB8 .opt {
  width: 50%;
  padding: 0;
  text-align: center;
  float: left;
}
.baoB form .baoB9 {
  height: 38px;
  line-height: 38px;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 12px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB9 span {
  width: 18px;
  height: 18px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .baoB10 {
  position: relative;
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB10 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
}
.baoB form .baoB10 dd {
  float: left;
  font-size: 12px;
}
.baoB form .baoB10 dd input {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: none;
}
.baoB form .baoB10 dd span {
  font-size: 8px;
  color: #38b791;
  position: absolute;
  right: 8px;
  top: 0px;
}
.baoB form .baoB11 {
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB11 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
}
.baoB form .baoB11 dd {
  float: left;
  font-size: 12px;
}
.baoB form .baoB11 dd input {
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: none;
}
.baoB form .baoB12 {
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB12 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
}
.baoB form .baoB12 dd {
  float: left;
  font-size: 12px;
}
.baoB form .baoB13 {
  box-shadow: 0px 3px 3px #eaeaea;
  overflow: hidden;
  clear: both;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .baoB13 dt {
  width: 70px;
  padding: 0 0px 0 12px;
  font-size: 15px;
  float: left;
}
.baoB form .baoB13 dd {
  float: left;
  font-size: 12px;
}
.baoB form .baoB13 dd input {
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: none;
}
.baoB form .baoB14 {
  height: 38px;
  line-height: 38px;
  color: #1b1e21;
  font-family: "兰亭粗黑_GBK";
  padding-left: 12px;
}
.baoB form .baoB14 span {
  width: 18px;
  height: 18px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  background: #38b791;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
.baoB form .bao_photo {
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #ededed;
}
.baoB form .bao_photo dl {
  width: 33.3%;
  text-align: center;
  padding: 0 12px;
  float: left;
  box-sizing: border-box;
}
.baoB form .bao_photo dl dt {
  overflow: hidden;
}
.baoB form .bao_photo dl dt img {
  width: 100%;
  height: 130px;
}
.baoB form .bao_photo dl dd {
  line-height: 30px;
  font-size: 12px;
  color: #38b791;
}
.baoB form .bao_tiaokuan {
  padding: 12px;
  overflow: hidden;
  border-bottom: 1px solid #ededed;
}
.baoB form .bao_tiaokuan h2 {
  font-size: 16px;
  font-weight: normal;
  color: #5fb8c8;
  font-family: "兰亭粗黑_GBK";
  padding-bottom: 10px;
}
.baoB form .bao_tiaokuan p {
  font-size: 12px;
  line-height: 22px;
  color: #7d888a;
  font-family: "兰亭黑简体";
}
.baoB form .bao_tongyi {
  font-size: 12px;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ededed;
}
.baoB form .bao_tongyi dt {
  width: 50%;
  text-align: center;
  color: #000000;
  float: left;
  font-family: "兰亭细黑_GBK";
}
.baoB form .bao_tongyi dt .opt {
  width: 100%;
  padding: 0;
  text-align: center;
  float: left;
}
.baoB form #sub {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: "兰亭粗黑_GBK";
  border: none;
  background: #38b791;
  -webkit-appearance: none;
}
/*# sourceMappingURL=AUDITION2.css.map */