//.news
.news {
  padding: 0px 12px;
  >ul{
    >li{
      overflow: hidden;
      padding-top: 30px;
      ._pic{
        >a{
          display: block;
          height: 195px;
          width: 100%;
          img{
            display: block;
            width: 100%;
            height: 195px;
          }
        }
      }
      ._t,.text-cut{
        line-height: 42px;
        padding-top: 10px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        >a{
          font-size: 22px;
          color: #0d0408;
          font-weight: 600;
          font-family: "兰亭粗黑_GBK";
        }
        >.i1{
        }
      }
      ._p{
        font-size: 14px;
        color: #777777;
        font-family: "Myriad Pro";
        >span{
          font-size: 16px;
        }
      }
      ._n{
        line-height: 24px;
        margin: 15px 0 10px;
        font-family: "兰亭中黑";
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .page{
    text-align: center;
  }
}