.news{
  margin-top: 45px;
  padding: 0px 12px;
  ul{
    li{
      padding-top: 30px;
      ._pic{
        a{
          display: block;
          img{
            display: block;
            width: 100%;
          }
        }
      }
      ._t{
        line-height: 42px;
        padding-top: 10px;
        position: relative;
        a{
          font-size: 22px;
          color: #0d0408;
          font-family: "兰亭粗黑_GBK";
        }
      }
      ._p{
        color: #777777;
        font-family: "Myriad Pro";
        span{
          font-size: 16px;
        }
      }
      ._n{
        line-height: 24px;
        margin: 15px 0 10px;
        font-family: "兰亭中黑";

      }
    }
  }
  .page{
    text-align: center;
  }
}