//news_info
.news_info{
  //margin-top: 60/18.75rem;
  padding: 20/18.75rem 12/18.75rem 0;
  color: #0d0408;
  clear: both;
  .info_title{
    line-height: 24/18.75rem;
    font-size: 20/18.75rem;
    font-family: "兰亭粗黑_GBK";
    padding: 10/18.75rem 0 5/18.75rem;
    font-weight: 600;
  }
  .info_time{
    color: #777777;
    font-family: "Myriad Pro";
    span{
      font-size: 16/18.75rem;
    }
  }
  .info_pic{
    margin: 10/18.75rem 0;
    img{

    }
  }
  p{
    margin:3.75pt 0pt;
  }
  img{
    width: 100%;
    display: block;
  }
}