/*基础样式*/
* {
  margin: 0;
  padding: 0;
}
body,
html {
  font: 14px/140% Microsoft YaHei, Arial, "宋体", Helvetica, sans-serif, Verdana;
  height: 100%;
  color: #333333;
}
.w {
  width: 1200px;
  margin: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
img {
  border: none;
  vertical-align: middle;
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
input,
button,
textarea {
  outline: none;
  border: none;
  /*不允许改变尺寸*/
  resize: none;
}
/*公共样式*/
.w {
  width: 18.5rem;
}
.nav1 {
  height: 3.2rem;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}
.nav1 h1 {
  width: 13.33333333rem;
  height: 2.13333333rem;
  font-size: 1.28rem;
  color: #5fb4c3;
  font-weight: bold;
  font-family: "AvantGardeMdITCTT";
  float: left;
  margin-top: -0.32rem;
  position: absolute;
  left: 0.74666667rem;
  top: 1.76rem;
}
.nav1 span {
  width: 2.66666667rem;
  height: 1.06666667rem;
  background: url("../images/t1.png") no-repeat;
  background-size: contain;
  position: absolute;
  right: 0rem;
  top: 1.28rem;
}
.top_fd {
  width: 100%;
  height: 100%;
  padding: 0.53333333rem 0.8rem 0rem;
  background: rgba(32, 34, 45, 0.89);
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 9999;
  display: none;
}
.top_fd > .closeA {
  padding: 0.53333333rem 0;
  height: 1.28rem;
  text-align: right;
}
.top_fd > .closeA > span {
  display: inline-block;
  width: 1.28rem;
  height: 1.28rem;
  color: #fff;
  font-size: 1.06666667rem;
  background: url("../images/t5.png") no-repeat center center / contain;
}
.top_fd > ul > li {
  height: 2.24rem;
  line-height: 2.24rem;
  font-size: 1.06666667rem;
}
.top_fd > ul > li > a {
  color: #fff;
}
.top_fd > .top_fd_B {
  width: 100%;
  position: absolute;
  left: 0.64rem;
  bottom: 1.06666667rem;
  box-sizing: border-box;
}
.top_fd > .top_fd_B > dl {
  padding: 0rem 0 0.64rem;
}
.top_fd > .top_fd_B > dl > dt {
  line-height: 1.6rem;
  font-size: 0.85333333rem;
}
.top_fd > .top_fd_B > dl > dt > a {
  color: #fff;
}
.top_fd > .top_fd_B > .p1 {
  font-size: 0.64rem;
  color: #75c9d8;
  font-family: "兰亭粗黑_GBK";
}
.nav2 {
  margin-top: 3.2rem;
  background: #f2fafb;
  overflow: hidden;
}
.nav2 > div ul li {
  float: left;
  height: 2.24rem;
  line-height: 2.24rem;
  padding-right: 0.53333333rem;
}
.nav2 > div ul li.active a {
  font-size: 0.69333333rem;
  color: #5fb4c3;
  font-weight: 600;
}
.nav2 > div ul li:last-of-type {
  padding-right: 0;
}
.nav2 > div ul li a {
  font-weight: 600;
  height: 2.24rem;
  color: #000;
  font-size: 0.69333333rem;
}
.foot {
  padding: 1.06666667rem 0.64rem 1.06666667rem 4.26666667rem;
  overflow: hidden;
  background: url("../images/t4.png") no-repeat 1.17333333rem 1.97333333rem;
  background-size: 2.4rem 1.49333333rem;
  color: #fff;
  clear: both;
}
.foot .footA1 {
  padding: 0 0 0.26666667rem 0.10666667rem;
  overflow: hidden;
}
.foot .footA1 a {
  font-size: 0.64rem;
  color: #fff;
  float: left;
}
.foot .footA1 span {
  display: inline-block;
  font-size: 0.48rem;
  padding: 0 0.37333333rem 0.10666667rem;
  position: relative;
  top: 0.10666667rem;
  float: left;
}
.foot .footA2 {
  line-height: 1.8;
  font-size: 0.42666667rem;
}
.page {
  text-align: center;
  height: 0.8rem;
  margin: 0.26666667rem 0;
}
/*# sourceMappingURL=base.css.map */