<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords"
          content="网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请">
    <meta name="Description"
          content="xxx有限公司是一家专业提供网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请等一系列互联网基础服务的的公司，全国服务热线xxx。">
    <title>元一官网</title>
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/Album2-detail.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/base.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>Album</h1>
    <span></span>
</nav>
<div class="top_fd">
    <div class="closeA"><span></span></div>
    <ul>
        <li><a href="javascript:;"><span>Home</span>首页</a></li>
        <li><a href="javascript:;"><span>Artist</span>家族艺人</a></li>
        <li><a href="javascript:;"><span>Skies TV</span>天空偶像频道</a></li>
        <li><a href="javascript:;"><span>Album</span>音乐作品</a></li>
        <li><a href="javascript:;"><span>ETM TC</span>练习生培养中心</a></li>
        <li><a href="javascript:;"><span>Starry Show</span>星耀秀</a></li>
    </ul>
    <div class="top_fd_B">
        <dl>
            <dt><a href="javascript:;">新闻&amp;公告 </a></dt>
            <dt><a href="javascript:;">ETM Audition</a></dt>
            <dt><a href="javascript:;">ETM Studio</a></dt>
            <dt><a href="javascript:;">Skies Shop</a></dt>
        </dl>
        <p class="p1">ETMSkies | 一站式偶像养成服务平台</p>
    </div>
</div>
<!--相同的部分end1-->
<!--ny_ban-->
<div class="ny_ban"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181114010930713071.png"></div>
<!--ntitA-->
<div class="ntitA">
    <h3>梦想时代</h3>
</div>
<!--SkiesBA_tb-->
<div class="SkiesBA_tb">
    <i class="m1"></i>
    <i class="m2"></i>
    <i class="m3"></i>
</div>
<!--SkiesBA-->
<div class="SkiesBA AlbumB_con" style="height: auto;">
    <span class="_t">歌手：</span>刘人语、苏芮琪、罗奕佳<br>
    <span class="_t">语种：</span>中文<br>
    <span class="_t">发行时间：</span>2018.08.20发行<br>
    <span class="_t">发行公司：</span>腾讯<br>
    <span class="_t">类型：</span>单曲<br>
    <span class="_t">流派：</span>Pop<br><br>

    <p>
        <strong>年少的自己，有着大大的梦想</strong>
    </p>
    <p>
        <strong>而《QQ炫舞手游》为追梦者提供了实现梦想的舞台</strong>
    </p>
    <p>
        <strong>与刘人语、苏芮琪、罗奕佳三人首度携手</strong>
    </p>
    <p>
        <strong>打造了《梦想时代》这首歌。</strong>
    </p>
    <p>
        <br>
    </p>
    <p style="text-align:justify;">
        《梦想时代》由刘人语亲自填词，在追梦的旅途中，这个怀揣着梦想的女孩，面对色彩斑斓的世界，大声的宣告，每个小小的存在，都充满无尽的色彩！奔跑在梦想时代，灿烂的未来，由自己主宰！歌曲的主题，也与《QQ炫舞手游》一直以来的理念完美契合。
    </p>
    <p style="text-align:justify;">
        歌曲在强有力的电音鼓点引入中，循序渐进。明朗欢快的节奏中融合流行trap元素，给人耳目一新的感受。编曲中充满设计性的旋律搭配少女们清爽梦幻的嗓音，呈现了一场如梦境般的音乐之旅。在梦想时代，每个人都有属于她不一样的梦！在炫舞的舞台，每个人都能绽放属于自己的光彩！ETM女孩们在勇敢唱出自己梦想的同时也希望能带你一起追梦，用音乐洗涤内心的尘埃。当少女们极富感染力的嗓音响起的瞬间，跟随着音乐旋律，让人从“心”觉醒，想要放任思绪一起漫游在Dream time！与未知相拥，只为心中的梦！对于她们而言，在追求音乐梦想的道路上，会不断突破自我、挑战自己，无论再多荆棘，也不能阻挡寻找梦的方向！最终的目标，一定是ALL PERFECT ALL COMBO!
    </p>
    <p style="text-align:justify;">
        逐梦的道路更是一场找寻自我的旅途。静静聆听《梦想时代》，一起踏上ETM女孩的专属“寻梦之旅”吧！走在炫舞的舞台，一起开启实现梦想的大门吧！
    </p>
    <p style="text-align:justify;">
        <br>
    </p>
</div>
<!--AlbumBB_t-->
<div class="AlbumBB_t">Tracklist</div>
<!--AlbumBB-->
<div class="AlbumBB">
    <ul>
        <li><span>1</span>梦想时代</li>
    </ul>
</div>





<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>