<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{aspcms:sitetitle}</title>
    <meta name="Keywords" content="{aspcms:sitekeywords}" />
    <meta name="Description" content="{aspcms:sitedesc}" />
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/Artist2.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>Artist</h1>
    <span></span>
</nav>
{aspcms:top}
<!--相同的部分end1-->
<!--head-->
{aspcms:about sort=44 }
<div class="Artist_index top">
    <a href="[about:link]"><img src="[about:pic]"></a>
</div>
{/aspcms:about}

{aspcms:about sort=45}
<div class="Artist_index">
    <a href="[about:link]"><img src="[about:pic]"></a>
</div>
{/aspcms:about}





<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>