<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords"
          content="网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请">
    <meta name="Description"
          content="xxx有限公司是一家专业提供网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请等一系列互联网基础服务的的公司，全国服务热线xxx。">
    <title>元一官网</title>
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/Artist2-detail.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/base.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>Artist</h1>
    <span></span>
</nav>
<div class="top_fd">
    <div class="closeA"><span></span></div>
    <ul>
        <li><a href="javascript:;"><span>Home</span>首页</a></li>
        <li><a href="javascript:;"><span>Artist</span>家族艺人</a></li>
        <li><a href="javascript:;"><span>Skies TV</span>天空偶像频道</a></li>
        <li><a href="javascript:;"><span>Album</span>音乐作品</a></li>
        <li><a href="javascript:;"><span>ETM TC</span>练习生培养中心</a></li>
        <li><a href="javascript:;"><span>Starry Show</span>星耀秀</a></li>
    </ul>
    <div class="top_fd_B">
        <dl>
            <dt><a href="javascript:;">新闻&amp;公告 </a></dt>
            <dt><a href="javascript:;">ETM Audition</a></dt>
            <dt><a href="javascript:;">ETM Studio</a></dt>
            <dt><a href="javascript:;">Skies Shop</a></dt>
        </dl>
        <p class="p1">ETMSkies  |  一站式偶像养成服务平台</p>
    </div>
</div>
<!--nav2-->
<nav class="nav2">
    <div class="w">
        <ul class="clearfix">
            <li class="active"><a href="javascript:;">艺人简介</a></li>
            <li><a href="javascript:;">Gallery</a></li>
            <li><a href="javascript:;">日程表</a></li>
        </ul>
    </div>
</nav>
<!--相同的部分end1-->
<div class="ntitA">
    <h2>Chic Chili</h2>
    <p>西可西丽</p>
</div>
<!--Artist_jian_n-->
<div class="Artist_jian_n">
    <p class="p1" style="text-align:justify;">
        <strong>ChicChili（西可西丽）</strong>，是ETM活力时代于2018年末推出的女子流行演唱组合，由<strong>罗奕佳、吉利、苏芮琪、刘人语、张静萱</strong>5名成员组成。ChicChili将<strong>“前卫、别致”</strong>和<strong>“红辣椒”</strong>相结合，象征着5位成员充满着梦幻优雅与热情爽朗的多重属性。同时也期望成员们突破边界，打破墨守成规，致力于全方位的发展，带给大家更多重的感官享受。
    </p>
</div>
<!--Artist_jian_pic-->
<div class="Artist_jian_pic">
    <ul class="clearfix">
        <li>
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181201002718991899.png">
            <p>罗一家</p>
            <p>副主唱</p>
            <p><span>1998.04.30</span><span>162cm</span></p>
        </li>
        <li>
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181201002629452945.png">
            <p>罗一家</p>
            <p>副主唱</p>
            <p><span>1998.04.30</span><span>162cm</span></p>
        </li>
        <li>
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181201002632073207.png">
            <p>罗一家</p>
            <p>副主唱</p>
            <p><span>1998.04.30</span><span>162cm</span></p>
        </li>
        <li>
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181201002610541054.png">
            <p>罗一家</p>
            <p>副主唱</p>
            <p><span>1998.04.30</span><span>162cm</span></p>
        </li>
        <li>
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181201002636923692.png">
            <p>罗一家</p>
            <p>副主唱</p>
            <p><span>1998.04.30</span><span>162cm</span></p>
        </li>
    </ul>
</div>


<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>