<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{aspcms:sitetitle}</title>
    <meta name="Keywords" content="{aspcms:sitekeywords}" />
    <meta name="Description" content="{aspcms:sitedesc}" />
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/AUDITION2-detail.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>AUDITION</h1>
    <span></span>
</nav>
{aspcms:top}
<!--nav2-->
<nav class="nav2">
    <div class="w">
        <ul class="clearfix">
            {aspcms:type sort=46}
            <li  class="active"><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
            {aspcms:type sort=47}
            <li ><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
        </ul>
    </div>
</nav>
<!--相同的部分end1-->
<!--&lt;!&ndash;ny_ban&ndash;&gt;-->
<!--<div class="ny_ban">-->
    <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180413113529012901.jpg">-->
<!--</div>-->
<!--&lt;!&ndash;ntitA&ndash;&gt;-->
<!--<div class="ntitA">-->
    <!--<h2>ONLINE audition</h2>-->
    <!--<p>在线选秀</p>-->
<!--</div>-->
<!--.title-->
<div class="title">
    <div class="con">
        <p>Vigour练习生</p>
    </div>
</div>

<!--&lt;!&ndash;title-text&ndash;&gt;-->
<!--<div class="title-text">-->
    <!--<div class="con">-->
        <!--元一文化传媒（北京）有限公司成立于2015年，专注打造年轻优质偶像艺人为核心，网生影视内容制作的新型娱乐公司。公司核心管理团队来自各大影视、传媒、互联网与公关公司，将互联网思维全面融入影视、音乐制作与艺人经营等领域。元一文化与国内外知名娱乐集团、头部内容生产商、优质品牌客户及各大媒体保持良好合作，旗下拥有全新厂牌“元一练习生养成中心”，儿童戏剧教育厂牌“知之兔”，全力打造青春时尚实力派国民偶像的造星机构。元一文化，与梦想常伴！-->
    <!--</div>-->
<!--</div>-->
<div class="img1">
    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/tiaojian12.png" alt="">
</div>
<div class="img1">
    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/tiaojian1.png" alt="">
</div>
<!--.title-->
<div class="title">
    <div class="con">
        <p>知之兔儿童戏曲</p>
    </div>
</div>
<div class="img1">
    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/tiaojian2.png" alt="">
</div>
<!--&lt;!&ndash;title-text&ndash;&gt;-->
<!--<div class="title-text">-->
    <!--<div class="con">-->
        <!--元一文化传媒（北京）有限公司成立于2015年，专注打造年轻优质偶像艺人为核心，网生影视内容制作的新型娱乐公司。公司核心管理团队来自各大影视、传媒、互联网与公关公司，将互联网思维全面融入影视、音乐制作与艺人经营等领域。元一文化与国内外知名娱乐集团、头部内容生产商、优质品牌客户及各大媒体保持良好合作，旗下拥有全新厂牌“元一练习生养成中心”，儿童戏剧教育厂牌“知之兔”，全力打造青春时尚实力派国民偶像的造星机构。元一文化，与梦想常伴！-->
    <!--</div>-->
<!--</div>-->



<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>