<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords"
          content="网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请">
    <meta name="Description"
          content="xxx有限公司是一家专业提供网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请等一系列互联网基础服务的的公司，全国服务热线xxx。">
    <title>元一官网</title>
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/AUDITION2-detail.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/base.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>AUDITION</h1>
    <span></span>
</nav>
<div class="top_fd">
    <div class="closeA"><span></span></div>
    <ul>
        <li><a href="javascript:;"><span>Home</span>首页</a></li>
        <li><a href="javascript:;"><span>Artist</span>家族艺人</a></li>
        <li><a href="javascript:;"><span>Skies TV</span>天空偶像频道</a></li>
        <li><a href="javascript:;"><span>Album</span>音乐作品</a></li>
        <li><a href="javascript:;"><span>ETM TC</span>练习生培养中心</a></li>
        <li><a href="javascript:;"><span>Starry Show</span>星耀秀</a></li>
    </ul>
    <div class="top_fd_B">
        <dl>
            <dt><a href="javascript:;">新闻&amp;公告 </a></dt>
            <dt><a href="javascript:;">ETM Audition</a></dt>
            <dt><a href="javascript:;">ETM Studio</a></dt>
            <dt><a href="javascript:;">Skies Shop</a></dt>
        </dl>
        <p class="p1">ETMSkies  |  一站式偶像养成服务平台</p>
    </div>
</div>
<!--nav2-->
<nav class="nav2">
    <div class="w">
        <ul class="clearfix">
            <li class="active"><a href="javascript:;">选秀须知</a></li>
            <li><a href="javascript:;">ONline Audition</a></li>
        </ul>
    </div>
</nav>
<!--相同的部分end1-->
<!--&lt;!&ndash;ny_ban&ndash;&gt;-->
<!--<div class="ny_ban">-->
    <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180413113529012901.jpg">-->
<!--</div>-->
<!--&lt;!&ndash;ntitA&ndash;&gt;-->
<!--<div class="ntitA">-->
    <!--<h2>ONLINE audition</h2>-->
    <!--<p>在线选秀</p>-->
<!--</div>-->
<!--.title-->
<div class="title">
    <div class="con">
        <p>Vigour练习生</p>
    </div>
</div>

<!--&lt;!&ndash;title-text&ndash;&gt;-->
<!--<div class="title-text">-->
    <!--<div class="con">-->
        <!--元一文化传媒（北京）有限公司成立于2015年，专注打造年轻优质偶像艺人为核心，网生影视内容制作的新型娱乐公司。公司核心管理团队来自各大影视、传媒、互联网与公关公司，将互联网思维全面融入影视、音乐制作与艺人经营等领域。元一文化与国内外知名娱乐集团、头部内容生产商、优质品牌客户及各大媒体保持良好合作，旗下拥有全新厂牌“元一练习生养成中心”，儿童戏剧教育厂牌“知之兔”，全力打造青春时尚实力派国民偶像的造星机构。元一文化，与梦想常伴！-->
    <!--</div>-->
<!--</div>-->
<div class="img1">
    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/tiaojian12.png" alt="">
</div>
<div class="img1">
    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/tiaojian1.png" alt="">
</div>
<!--.title-->
<div class="title">
    <div class="con">
        <p>知之兔儿童戏曲</p>
    </div>
</div>
<div class="img1">
    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/tiaojian2.png" alt="">
</div>
<!--&lt;!&ndash;title-text&ndash;&gt;-->
<!--<div class="title-text">-->
    <!--<div class="con">-->
        <!--元一文化传媒（北京）有限公司成立于2015年，专注打造年轻优质偶像艺人为核心，网生影视内容制作的新型娱乐公司。公司核心管理团队来自各大影视、传媒、互联网与公关公司，将互联网思维全面融入影视、音乐制作与艺人经营等领域。元一文化与国内外知名娱乐集团、头部内容生产商、优质品牌客户及各大媒体保持良好合作，旗下拥有全新厂牌“元一练习生养成中心”，儿童戏剧教育厂牌“知之兔”，全力打造青春时尚实力派国民偶像的造星机构。元一文化，与梦想常伴！-->
    <!--</div>-->
<!--</div>-->



<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>