<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{aspcms:sitetitle}</title>
    <meta name="Keywords" content="{aspcms:sitekeywords}" />
    <meta name="Description" content="{aspcms:sitedesc}" />
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/AUDITION2.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>AUDITION</h1>
    <span></span>
</nav>
{aspcms:top}
<!--nav2-->
<nav class="nav2">
    <div class="w">
        <ul class="clearfix">
            {aspcms:type sort=46}
            <li><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
            {aspcms:type sort=47}
            <li  class="active"><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
        </ul>
    </div>
</nav>
<!--相同的部分end1-->
<!--ny_ban-->
<div class="ny_ban">
    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180413113529012901.jpg">
</div>
<!--ntitA-->
<div class="ntitA">
    <h2>ONLINE audition</h2>
    <p>在线选秀</p>
</div>
<!--baoA-->
<div class="baoA">
    <b style=" color:#5fb4c3;">VOGOURSkies Audition</b>天空偶像计划练习生选秀<br>
    设立官网在线选秀通道<br>
    拥有斑斓世界的音乐之梦的你，只需要按照下面的报名系统提交相关资料即可参与在线选秀<br>
    期待实力与勇气兼备的你前来挑战！
</div>
<!--baoB-->
<div class="baoB">
    <form method="post"  name="zxyy" action="/gbook/send.asp" >
        <div class="baoB1"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/t7.png"></div>
        <div class="baoB2"><span>1</span>个人基本信息</div>
        <dl class="baoB3">
            <dt>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</dt>
            <dd class="bao_sx2"><input class="put1" name="yname" type="text"></dd>
        </dl>
        <dl class="baoB4">
            <dt>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</dt>
            <dd class="bao_sx2">
                <div class="opt">
                    <input class="bbtn" type="radio" name="ysex" id="c1" value="1" checked="">
                    <label for="c1">女</label>
                </div>
                <div class="opt">
                    <input class="bbtn" type="radio" name="ysex" id="c2" value="2">
                    <label for="c2">男</label>
                </div>
            </dd>
        </dl>
        <dl class="baoB5">
            <dt>出生年月</dt>
            <dd class="bao_sx2">
                <input class="put1 put2" name="ydate" type="date">
                <!--<input class="put1 put3" name="yue" type="text"><span>月</span>-->
                <!--<input class="put1 put3" name="ri" type="text"><span>日</span>-->
                <!---->
            </dd>
        </dl>
        <dl class="baoB6">
            <dt>身高体重</dt>
            <dd>
                <input class="put1 put2" name="yshengaotizhong" type="text"><span>cm/kg</span>
                <!--<input class="put1 put2" name="weight" type="text"><span>KG</span>-->
            </dd>
        </dl>
        <div class="baoB7"><span>2</span>填报部门</div>
        <dl class="baoB8">
            <dt>
                <div class="opt">
                    <input class="bbtn" type="radio" name="ybumen" id="bm1" value="1" checked="">
                    <label for="bm1">小演员儿童戏曲</label>
                </div>
            </dt>
            <dt>
                <div class="opt">
                    <input class="bbtn" type="radio" name="ybumen" id="bm2" value="2">
                    <label for="bm2">Vigour练习生</label>
                </div>
            </dt>
        </dl>
        <div class="baoB9"><span>3</span>联系方式</div>
        <dl class="baoB10">
            <dt>联络电话</dt>
            <dd class="bao_sx2">
                <input class="put1 put4" name="sjhm" type="text">
                <span>(这是我们联络你的重要方式，请确保畅通）</span>
            </dd>
        </dl>
        <!--<dl class="baoB11">-->
            <!--<dt>就读学校</dt>-->
            <!--<dd class="bao_sx2"><input class="put1" name="title" type="text"></dd>-->
        <!--</dl>-->
        <dl class="baoB12">
            <dt>E-mail&nbsp;&nbsp;</dt>
            <dd class="bao_sx2"><input class="put1" name="yemail" type="text"></dd>
        </dl>
        <dl class="baoB13">
            <dt>家庭住址</dt>
            <dd class="bao_sx2"><input class="put1" name="yprovinces" type="text"></dd>
        </dl>
        <div class="baoB14"><span>4</span>选秀须知协议条款</div>
        <!--<div class="bao_photo">-->
            <!--<dl>-->
                <!--<input type="file" name="file1" onchange="PreviewImage(this, 'yulan_picA', 'bao_photo');" class="finput1" style="display:none" accept="image/png, image/jpeg, image/gif, image/jpg">-->
                <!--<dt onclick="F_Open_dialog('.finput1')"><img id="yulan_picA" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/t8.png" width="100%" height="130"></dt>-->
                <!--<dd>正面的照片</dd>-->
            <!--</dl>-->
            <!--<dl>-->
                <!--<input type="file" name="file2" onchange="PreviewImage(this, 'yulan_picB', 'bao_photo');" class="finput2" style="display:none" accept="image/png, image/jpeg, image/gif, image/jpg">-->
                <!--<dt onclick="F_Open_dialog('.finput2')"><img id="yulan_picB" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/t8.png" width="100%" height="130"></dt>-->
                <!--<dd>正面的照片</dd>-->
            <!--</dl>-->
            <!--<dl>-->
                <!--<input type="file" name="file3" onchange="PreviewImage(this, 'yulan_picC', 'bao_photo');" class="finput3" style="display:none" accept="image/png, image/jpeg, image/gif, image/jpg">-->
                <!--<dt onclick="F_Open_dialog('.finput3')"><img id="yulan_picC" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/t8.png" width="100%" height="130"></dt>-->
                <!--<dd>全身的照片</dd>-->
            <!--</dl>-->
        <!--</div>-->
        <div class="bao_tiaokuan">
            <h2>参选须知条款</h2>
            <p>
                1. 填报人参加ETM Skies线上选秀是属于自发、自愿的个人行为；<br>
                2. 未满18周岁的填报人，务必在征得家长监护人同意后参加；<br>
                3. 因参加ETM Skies线上选秀所需要提供的个人资料，我们只针对本次选秀之用，不会对外泄露，请放心填写；<br>
                4. 因参加ETM Skies线上选秀所提交的照片，ETM有权在Skies新人甄选相关的活动中作非商业使用。
            </p>
        </div>
        <dl class="bao_tongyi">
            <dt>
                <div class="opt">
                    <input class="bbtn" type="radio" name="ytongyi" id="ty1" value="1" checked="true">
                    <label for="ty1">我同意上述协议条款</label>
                </div>
            </dt>
            <dt>
                <div class="opt">
                    <input class="bbtn" type="radio" name="ytongyi" id="ty2" value="2" >
                    <label for="ty2">我不同意上述协议条款</label>
                </div>
            </dt>
        </dl>
        <input name="" type="submit" class="ti" value="提交报名" id="sub">
    </form>
</div>


<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
<script>
    $(function () {
        $("#sub").click(function () {
            if ($("#ty2").prop("checked")){
                alert("请同意上述协议");
                // return;
            }
            return;
        })
    })
</script>
</body>
</html>