<!doctype html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords"
          content="网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请">
    <meta name="Description"
          content="xxx有限公司是一家专业提供网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请等一系列互联网基础服务的的公司，全国服务热线xxx。">
    <title>元一官网</title>
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/Drafts-and-topics1-detail.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>ETM Training Center</h1>
    <span></span>
</nav>
{aspcms:top}
<!--nav2-->
<nav class="nav2">
    <div class="w">
        <ul class="clearfix">
            {aspcms:type sort=25}
            <li class="active"><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
            {aspcms:type sort=26}
            <li><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
            {aspcms:type sort=27}
            <li><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
            {aspcms:type sort=28}
            <li><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
            {aspcms:type sort=29}
            <li><a href="[type:link]">[type:name]</a></li>
            {/aspcms:type}
        </ul>
    </div>
</nav>
<!--相同的部分end1-->

<!--news_info-->
<div class="news_info">
    <div class="info_title">[news:title]</div>
    <div class="info_time">VIGOUR / <span>[news:date]</span></div>
    <div class="info_pic"><img src="[news:pic]" width="100%"></div>
    <div class="info_text">
        [news:info]
        <!--<p>-->
            <!--<strong>2018年4月9日-15日</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>本周热点回顾</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>创造101、明日之子第二季选拔现场、练习生日常、福利名单公布</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>[星期一，2018年4月9日]</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--各位女团创始人们，请多多支持我们ETM的小姐姐们！-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180424171152795279%20(1).jpg" alt="">-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>[星期二，2018年4月10日]</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--选拔现场图片放送，拍摄过程中大家的表现很棒！-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180424171430763076.jpg" alt="">-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>[星期三，2018年4月11日]</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--创造101安利一位来自ETM的小姐姐杨蕊菡-->
        <!--</p>-->
        <!--<p>-->
            <!--现正代表乐华娱乐参加腾讯创造101&nbsp;希望大家多多支持~-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180424171714421442.jpg" alt="">-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>[星期四，2018年4月12日]</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--我是谁，我在哪，我在干什么？？？-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180424172085388538.jpg" alt="">-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>[星期六，2018年4月14日]</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--还记得《偶像练习生》里张艺兴的回忆自己练习生的经历吗？-->
        <!--</p>-->
        <!--<p>-->
            <!--每位练习生都一样，哪怕再痛苦也只有坚持，坚持一下,再坚持一下，-->
        <!--</p>-->
        <!--<p>-->
            <!--等待某一天收获的到来，在这里的每一次记录都见证了练习生们的成长！-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180424172219001900.jpg" alt="">-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>[星期六，2018年4月14日]</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--恭喜@<a target="_blank" href="https://weibo.com/n/%E6%98%AF%E9%87%91%E8%B7%AF%E4%BA%91%E6%8B%AF%E6%95%91%E4%BA%86%E8%80%81%E5%A4%AB%E7%9A%84%E5%B0%91%E5%A5%B3%E5%BF%83?from=feed&amp;loc=at">是金路云拯救了老夫的少女心</a> 等2名用户获得【SF9《MAMMA MIA》签名专辑】-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180424172460076007.jpg" alt="">-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>[星期日，2018年4月15日]</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--北电第五王思懿（颜歌）同时通过中戏艺考-->
        <!--</p>-->
        <!--<p>-->
            <!--恭喜颜歌同学又离自己的梦想更近一步啦！-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
        <!--<p>-->
            <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180424172557155715.jpg" alt="">-->
        <!--</p>-->
        <!--<p>-->
            <!--<br>-->
        <!--</p>-->
    </div>
</div>




<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>