<div class="top_fd">
    <div class="closeA"><span></span></div>
    <ul>
        {aspcms:type sort=30}
        <li><a href="[type:link]"><span>Home</span>[type:name]</a></li>
        {/aspcms:type}
        {aspcms:type sort=31}
        <li><a href="[type:link]"><span>Artist</span>[type:name]</a></li>
        {/aspcms:type}
        {aspcms:type sort=32}
        <li><a href="[type:link]"><span>Skies TV</span>[type:name]</a></li>
        {/aspcms:type}
        {aspcms:type sort=33}
        <li><a href="[type:link]"><span>Album</span>[type:name]</a></li>
        {/aspcms:type}
        {aspcms:type sort=34}
        <li><a href="[type:link]"><span>ETM TC</span>[type:name]</a></li>
        {/aspcms:type}
        {aspcms:type sort=35}
        <li><a href="https://mp.weixin.qq.com/s/jkkQARskZO_RPfBbVa7tbA"><span>Starry Show</span>[type:name]</a></li>
        {/aspcms:type}
    </ul>
    <div class="top_fd_B">
        <dl>
            {aspcms:type sort=35}
            <dt><a href="[type:link]">新闻&amp;公告 </a></dt>
            {/aspcms:type}
            {aspcms:type sort=35}
            <dt><a href="[type:link]">ETM Audition</a></dt>
            {/aspcms:type}
            {aspcms:type sort=35}
            <dt><a href="[type:link]">ETM Studio</a></dt>
            {/aspcms:type}
        </dl>
        <p class="p1">ETMSkies | 一站式偶像养成服务平台</p>
    </div>
</div>
