<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{aspcms:sitetitle}</title>
    <meta name="Keywords" content="{aspcms:sitekeywords}" />
    <meta name="Description" content="{aspcms:sitedesc}" />
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/index2.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script>
        $(function () {
            // 轮播1
            var swiper1 = new Swiper('.swiper-container1', {
                slidesPerView: 1,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 3000,
                    stopOnLastSlide: false,
                    disableOnInteraction: false,
                },
            });
            // 轮播2
            var galleryThumbs2 = new Swiper('.gallery-thumbs2', {
                slidesPerView: 4,
                loop: true,
                freeMode: true,
                loopedSlides: 5, //looped slides should be the same
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var galleryTop2 = new Swiper('.gallery-top2', {
                loop: true,
                loopedSlides: 5, //looped slides should be the same
                thumbs: {
                    swiper: galleryThumbs2,
                },
            });
            // 轮播3
            var galleryThumbs3 = new Swiper('.gallery-thumbs3', {
                slidesPerView: 4,
                loop: true,
                freeMode: true,
                loopedSlides: 5, //looped slides should be the same
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var galleryTop3 = new Swiper('.gallery-top3', {
                loop: true,
                loopedSlides: 5, //looped slides should be the same
                thumbs: {
                    swiper: galleryThumbs3,
                },
            });
        })
    </script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/logo.png" alt=""></h1>
    <span></span>
</nav>
{aspcms:top}
<!--相同的部分end1-->
<!-- Swiper1 -->
<div class="swiper-container swiper-container1">
    <div class="swiper-wrapper">
        {aspcms:slidelist id=2}
        <div class="swiper-slide"><img src="[slidelist:pic]" alt=""></div>
        {/aspcms:slidelist}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- Swiper2 -->
<div class="swiper-container gallery-top gallery-top2 swiper-container2">
    <p>NEWS & NOTICE</p>
    <div class="swiper-wrapper imgCon">
        {aspcms:content sort=36 num=5 order=order star=1}
        <div class="swiper-slide">
            <a href="[content:link]"><img src="[content:pic]" alt=""></a>
            <a href="[content:link]">
                <span>[content:title]</span>
                <span>[content:desc]</span>
            </a>
        </div>
        {/aspcms:content}
    </div>
</div>
<div class="swiper-container gallery-thumbs gallery-thumbs2 swiper-container22">
    <div class="swiper-wrapper">
        {aspcms:content sort=36 num=5 order=order star=1}
        <div class="swiper-slide"><img src="[content:pic]" alt=""></div>
        {/aspcms:content}
    </div>
</div>
<!--NEW ALBUM-->
<div class="new-album">
    <div class="title">NEW ALBUM</div>
    <ul class="clearfix">
        {aspcms:content sort=33 num=2 order=order star=1}
        <li>
            <a href="[content:link]">
                <img src="[content:pic]">
                <h2 class="text-cut">[content:title]</h2>
                <p class="text-cut">[content:author]&nbsp;&nbsp;[content:date]</p>
            </a>
        </li>
        {/aspcms:content}
    </ul>
</div>

<!-- Swiper3 -->
<div class="swiper-container gallery-top gallery-top3 swiper-container3">
    <div class="swiper-wrapper imgCon">
        {aspcms:content sort=30 order=order star=1}
        <div class="swiper-slide">
            <img src="[content:pic]" alt="">
            <a target="_blank" href="[content:source]">
                <div class="_t">Skies tv</div>
                <div class="_p">[content:title]</div>
                <p>[content:author]</p>
                <span>[content:date]</span>
                <div class="_btn"></div>
            </a>
        </div>
        {/aspcms:content}
    </div>
</div>
<div class="swiper-container gallery-thumbs gallery-thumbs3 swiper-container33">
    <div class="swiper-wrapper">
        {aspcms:content sort=30 order=order star=1}
        <div class="swiper-slide">
            <img src="[content:pic]" alt="">
            <h2 class="text-cut">[content:title]</h2>
            <p class="text-cut">[content:author]&nbsp;&nbsp;&nbsp;[content:date]</p>
        </div>
        {/aspcms:content}
    </div>
</div>

<!--TRAINING CENTER-->
<div class="training-center">
    <div class="title">VIGOUR TRAINING CENTER</div>
    <ul class="clearfix">
        {aspcms:content sort=28 num=4 order=order star=1}
        <li>
            <a href="[content:link]">
                <img src="[content:pic]">
                <p class="text-cut">[content:title]</p>
            </a>
        </li>
        {/aspcms:content}
    </ul>
</div>


<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>