<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords"
          content="网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请">
    <meta name="Description"
          content="xxx有限公司是一家专业提供网站建设,网站建设公司,网站制作,网站制作公司,手机网站建设,手机网站制作,淘宝装修,淘宝店铺装修设计,400电话申请,400电话公司,400电话办理,微信公众号申请,微网站制作,域名注册,域名注册,邮箱申请等一系列互联网基础服务的的公司，全国服务热线xxx。">
    <title>元一官网</title>
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/News2-detail.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/base.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>Skies TV</h1>
    <span></span>
</nav>
<div class="top_fd">
    <div class="closeA"><span></span></div>
    <ul>
        <li><a href="javascript:;"><span>Home</span>首页</a></li>
        <li><a href="javascript:;"><span>Artist</span>家族艺人</a></li>
        <li><a href="javascript:;"><span>Skies TV</span>天空偶像频道</a></li>
        <li><a href="javascript:;"><span>Album</span>音乐作品</a></li>
        <li><a href="javascript:;"><span>ETM TC</span>练习生培养中心</a></li>
        <li><a href="javascript:;"><span>Starry Show</span>星耀秀</a></li>
    </ul>
    <div class="top_fd_B">
        <dl>
            <dt><a href="javascript:;">新闻&amp;公告 </a></dt>
            <dt><a href="javascript:;">ETM Audition</a></dt>
            <dt><a href="javascript:;">ETM Studio</a></dt>
            <dt><a href="javascript:;">Skies Shop</a></dt>
        </dl>
        <p class="p1">ETMSkies  |  一站式偶像养成服务平台</p>
    </div>
</div>
<!--相同的部分end1-->
<!--news_info-->
<div class="news_info">
    <div class="info_title">ETM女孩办粉丝见面会 新歌首唱互动实力宠粉</div>
    <div class="info_time">ETM / <span>2018.07.03</span></div>
    <div class="info_pic"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180703195945334533.jpg" width="100%"></div>
    <div class="info_text">
        <p>
            <strong>“pick me pick me up 你越喜欢，我越可爱”</strong>
        </p>
        <p>
            <strong>当熟悉的《创造</strong><strong>101》主题曲响起，</strong>
        </p>
        <p>
            <strong>一切仿佛又回到比赛当时</strong><strong>......</strong>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <br>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180703205777947794.jpg" alt="">
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <br>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            为感谢粉丝们114个日夜以来对ETM女孩的支持，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            6月30日，在成都来福士举办<strong>ETM女孩不见不散-粉丝答谢会，</strong><o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            当天，女孩们首次公开演唱筹备许久的答谢曲<strong>&lt;一直一起&gt;</strong>。<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            这首由成员<strong>苏芮琪、刘人语</strong>倾心填词，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            韩国作曲家Park SeongSoo/Y2H作曲，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            德国音乐制作人Richard Furch，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            凭借获得59届格莱美最佳专辑奖的制作人Randy Merrill先生，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            共同倾力打造。<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <br>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180703204930193019.jpg" alt="">
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <br>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            唱跳之余，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            现场也分组上演扳手腕大战，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            同粉丝合作比划猜字游戏、幸运粉丝合影等活动。<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <br>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20180703205051155115.jpg" alt="">
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            <br>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            答谢会后正式开启<strong>ETM天空偶像计划选拔</strong>，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            吸引了众多观众现场报名，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            ETM大家庭欢迎所有有梦想、有实力的未来之星加入。<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            未来的日子，<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            也希望大家能继续守护ETM努力优秀的女孩们！<o:p></o:p>
        </p>
        <p class="MsoNormal" style="margin:3.75pt 0pt;">
            永远在一起，一起踏上新的旅程！
        </p>
        <p>
            <br>
        </p>
        <strong style="white-space:normal;"></strong>
    </div>
</div>




<!--相同的部分begin2-->
<!--foot-->
<div class="foot" style="background-color: #5fb4c3;">
    <div class="footA1">
        <a href="javascript:;">关于我们</a><span>|</span>
        <a href="javascript:;">招贤纳士</a><span>|</span>
        <a href="javascript:;">社交网络</a>
    </div>
    <div class="footA2">
        中国?四川省成都市锦江区红星路三段10号第一城B座22F<br>
        蜀ICP备12031058-2   广播电视节目制作经营许可证：川字第00554号<br>
        Copyright?2018活力时代(成都)文化传播有限公司 版权所有
    </div>
</div>
<script>
    $(function () {
        FastClick.attach(document.body);
        var width=$(window).width();
        var height=$(window).height();
        $(".closeA").children("span").click(function () {
            $(".top_fd").fadeOut();
        });
        $(".nav1").children("span").click(function () {
            $(".top_fd").fadeIn(300).height(height);
        });
    });
</script>
<!--相同的部分end2-->
</body>
</html>