<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{aspcms:sitetitle}</title>
    <meta name="Keywords" content="{aspcms:sitekeywords}" />
    <meta name="Description" content="{aspcms:sitedesc}" />
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/normalize.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/base.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/adapter.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/swiper.min.css">
    <link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/Skies-TV2-detail.css">

    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.12.4.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/swiper.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/index.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fastclick.js"></script>
    <!--[if lt IE 9]>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/html5shiv.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--相同的部分begin1-->
<!--nav1-->
<nav class="nav1">
    <h1>Skies TV</h1>
    <span></span>
</nav>
{aspcms:top}
<!--相同的部分end1-->
<!--ny_ban-->
<div class="ny_ban"><img src="[news:pic]"></div>
<!--&lt;!&ndash;ntitA&ndash;&gt;-->
<!--<div class="ntitA">-->
    <!--<h2>ChicChili Games</h2>-->
    <!--<p>西可西丽Games</p>-->
<!--</div>-->
<!--&lt;!&ndash;SkiesBA_tb&ndash;&gt;-->
<!--<div class="SkiesBA_tb">-->
    <!--<i class="p6"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/p6.png" alt=""></i>-->
<!--</div>-->
<!--&lt;!&ndash;SkiesBA&ndash;&gt;-->
<!--<div class="SkiesBA">-->
    <!--<span class="_t">类别：</span>短视频综艺<br>-->
    <!--<span class="_t">集数：</span>12，2018年10月13日起每周六、日19:00更新<br>-->
    <!--<span class="_t">出演：</span>Chic Chili<br>-->
    <!--<span class="_t">制作：</span>ETM Studio<br><br>-->
    <!--<p>-->
        <!--游戏时间全新升级！-->
    <!--</p>-->
    <!--<p>-->
        <!--ETMSkies 携手LINEFRIENDS_CHINA-->
    <!--</p>-->
    <!--<p>-->
        <!--带来最欢乐的Game Time~-->
    <!--</p>-->
    <!--<p>-->
        <!--10月13日起，每周六/日晚19：00，-->
    <!--</p>-->
    <!--<p>-->
        <!--西可西丽Games 将在哔哩哔哩弹幕网 惊喜首播！-->
    <!--</p>-->
    <!--<p>-->
        <!--看五位成员如何玩转重重关卡~-->
    <!--</p>-->
    <!--<p>-->
        <!--敬请期待满屏的欢声笑语吧！-->
    <!--</p>-->
<!--</div>-->
<!--&lt;!&ndash;SkiesBB&ndash;&gt;-->
<!--<div class="SkiesBB">-->
    <!--<ul class="clearfix">-->
        <!--<li>-->
            <!--<a target="_blank" href="https://www.bilibili.com/video/av35883473/">-->
                <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181122210937483748.jpg">-->
                <!--<h2 class="text-cut">CCGames | EP12.萝卜蹲</h2>-->
                <!--<p class="text-cut">Chic Chili&nbsp;&nbsp;&nbsp;&nbsp;2018.11.18</p>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li class="liA">-->
            <!--<a target="_blank" href="https://www.bilibili.com/video/av35330982/">-->
                <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181122210795249524.jpg">-->
                <!--<h2 class="text-cut">CCGames | EP11.最小接近值</h2>-->
                <!--<p class="text-cut">Chic Chili&nbsp;&nbsp;&nbsp;&nbsp;2018.11.17</p>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a target="_blank" href="https://www.bilibili.com/video/av35331584/">-->
                <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181114160174187418.jpg">-->
                <!--<h2 class="text-cut">CCGames | EP10.狼人杀</h2>-->
                <!--<p class="text-cut">Chic Chili&nbsp;&nbsp;&nbsp;&nbsp;2018.11.11</p>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li class="liA">-->
            <!--<a target="_blank" href="https://www.bilibili.com/video/av35316938/">-->
                <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181114155852795279.jpg">-->
                <!--<h2 class="text-cut">CCGames | EP09.尖角帽喂食大挑战</h2>-->
                <!--<p class="text-cut">Chic Chili&nbsp;&nbsp;&nbsp;&nbsp;2018.11.10</p>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a target="_blank" href="">-->
                <!--<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/20181114155696919691.jpg">-->
                <!--<h2 class="text-cut">CCGames | EP08.黑夜中的呐喊</h2>-->
                <!--<p class="text-cut">Chic Chili&nbsp;&nbsp;&nbsp;&nbsp;2018.11.04</p>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash;<div class="page">[list:pagenumber len=5]</div>&ndash;&gt;-->
<!--</div>-->
[news:info]

<!--相同的部分begin2-->
{aspcms:foot}
<!--相同的部分end2-->
</body>
</html>